.branches{
    padding: 100px 0;
    background-color: $tertiary-color;

    .city{
        width: calc(100% * 4 / 12 - 30px);
        background-color: white;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        background-repeat: no-repeat;
        min-height: 400px;
        background-position: calc(100% - 40px) calc(100% - 40px);
        margin-bottom: 30px;

        h2{
            padding: 35px 25px;
            color: $secondary-color;
            font-size: 2rem;
        }

        span{
            color: #99A3B2;
            padding: 0 25px;
            font-size: 0.9rem;
        }

        p{
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.5;
            padding: 20px 25px;

            &:last-child:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}